@import "bootstrap";

.navbar {
    background-color: black !important;
}

.nav-link {
    color: white !important;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#home-container {
    margin-top: 25px;
}

.jumbotron {
    text-align: center;
    height: 420px;
    background-color: rgb(208, 210, 210);
    border-radius: 10px;
}

html,
body {
    height: 100%;
    background-color: rgb(234, 232, 232);
}

#page-content {
    flex: 1 0 auto;
    /* background-color: rgb(234, 232, 232); this replace with body background-color */
}

#sticky-footer {
    flex-shrink: none;
}

/* style for pagination */
.pagination-container {
    display: flex;
    justify-content: center;
  }

.page-item:not(:first-child) .page-link {
    border-radius: 6px;
}
