<h1 class="text-center pt-4">Listing all Articles</h1>

<!-- add pagination  -->
<% if Article.count > 5 %>
  <div class="pagination-container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>

<%= render 'article' %>

<% if @articles.size > 4 %>
  <div class="pagination-container">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
<% end %>