<h1 class="text-center pt-4">Create a new Category</h1>

<div class="container text-center w-75 shadow p-3 mb-3  rounded">
  <div class="row  justify-content-center ">
    <%= render 'form' %>

    <div class="mb-3">
      <div class="col-8">
        <%= link_to 'Cancle and Return to Category listing', categories_path, class: "btn btn-outline-primary btn-lg" %>
      </div>
    </div>

  </div>
</div>